<h2> Terms of Use </h2>
<div class="row">
  <div class="span12">
    <p>All information, dates and content included on this site are subject to change given the subject matter of the site.
    It is the responsibility of the user of the site here under to monitor changes in applicable law.
    Future versions of the site may include updated content to reflect any changes in applicable law.</p>
  </div>
</div>
